*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 10rem;
  box-sizing: border-box;
  background-color: #edf5e1; }

.main {
  padding: 9rem;
  border-radius: 8rem;
  background-color: #5cdb95; }
  .main__top {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 50vh; }
  .main__todos {
    display: flex;
    flex-direction: column; }

.todosList {
  display: flex;
  flex-direction: row; }
  .todosList__incomplete {
    align-self: flex-start; }
    .todosList__incomplete--Low {
      color: yellow; }
    .todosList__incomplete--Medium {
      color: orange; }
    .todosList__incomplete--High {
      color: red; }
  .todosList__complete {
    text-decoration: line-through;
    align-self: flex-end; }
    .todosList__complete--Low {
      color: yellow; }
    .todosList__complete--Medium {
      color: orange; }
    .todosList__complete--High {
      color: red; }

h1 {
  text-align: center;
  font-size: 7rem; }
